<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>
          Create a new list
          <h1>
          </div>
        </main>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Create</button>
        </form>
      </body>
    </html>
