<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Are you sure?</h1>
      </div>
    </main>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Delete</button>
    </form>
  </body>
</html>
